# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
lib/
*.egg-info/

# Unit test / coverage reports
.coverage
coverage.xml
.pytest_cache/

docs/

# PyCharm settings directory.
.idea/
